@use './box-shadows';
@use './colors';

@mixin default {
  @include box-shadows.default;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: .5rem;

  border: none;
  border-radius: .25rem;
  background-color: colors.$accent;
  color: colors.$white;

  svg {
    width: 1rem;
    height: 1rem;

    margin-right: .5rem;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: lighten(colors.$accent, 10);
  }

  &:active {
    background-color: darken(colors.$accent, 10);
  }
}
