@import './box-shadow';
@import './colors';

@mixin closing-button {
  $size: 2rem;

  @include box-shadow('pronounced');

  display: flex;
  justify-content: center;
  align-items: center;

  width: $size;
  height: $size;
  padding: .5;

  outline: none;
  border: none;
  border-radius: 50%;
  background-color: $accent;
  color: $white;

  &:hover {
    background-color: lighten($accent, 10);
  }
}
