@use 'sass:color';

$accent: hsl(180, 50%, 50%);
$accent-light: color.adjust($accent, $lightness: 47%);
$accent-light2: color.adjust($accent, $lightness: 40%);
$warning: hsl(53, 100%, 50%);
$white: #fff;
$white: #fff;
